[class*="col-"] {width: 100%;}
@media only screen and (min-width: 768px){
[class*="col-"] {
float: left;
padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

.header {
text-align:end;
font-family: 'Tourney', cursive;
background-image: url(enschede.jpg);
background-size:cover;
background-repeat: no-repeat;
background-position: 0%;
color: rgb(7, 71, 28);
padding: 55px;}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: rgb(7, 71, 28);
    color: white;
    }

img{
    border-radius: 30px;
    width: 53%;
    height: auto;
    float: right;
    max-width: 245px;
    padding: 5px;
}

.rechterdeel{
    background-color: rgb(35, 138, 69) ;
    margin-top: 14px;
}

.footer {
background-color: rgb(7, 71, 28);
color: aliceblue;
}

